extends layout

block content 
    h1=title 

    ul 
        each category in category_list 
            li 
                a(href=category.url) #{category.name}
        else 
            li No categories

    p
        a(href='/catalog/category/create') Create Category
    p
        a(href='/catalog') Home 