extends layout 

block content 

    h1 title: #{item.name}

    p #[strong description:] #{item.description}
    p #[strong price:] #{item.price}
    p #[strong number in stock:] #{item.number_in_stock}
