extends layout 

block content 

    h1 #{title}

    form(method='POST' action='')
        div.form-group
            label(for='name') Name: 
            input#name.form-control(type='text' placeholder='Name' name='name' required='true')
        div.form_group
            label(for='post') Post: 
            input#post.form-control(type='text' placeholder='text' name='post' required='true')
        button.btn.btn-primary(type='submit') Submit
    
    if (errors)
        ul 
            each error in errors
                li!=error.msg 