.Header{
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.leftContainer{
    display:flex;
    width: 30%;
    align-items: center;
}

.centerContainer{
    display:flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
}

.rightContainer{
    display:flex;
    width:30%;
    align-items: center;
    justify-content: flex-end;
}

.rightContainer .icons{
    margin: 5px;
}

.headerImage{
    height:50px;
}

.list{
    display: block;
    position: absolute;
    text-align: left;
    width: 150px;
    right: 0;
    left: auto;
}

.listItems{
    display: flex;
    flex-wrap: wrap;
}

.MuiSvgIcon-root{
    display:block;
    position: relative;
}