body{
    box-sizing: border-box;
    margin:0;
}

.parent-div{
    display:flex;
    flex-wrap: wrap;
    /* height: 100vh;
    width: 100vh; */
    height:900px;
    width:900px;
    align-items: flex-start;
}

